{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col"><img src="{{ url_for('static', filename='cards/rws/0.jpg') }}" alt="fool"></div>
    <div class="col">
      <h2>The Fool</h2>
      <ul>
        <li>Where is he going?</li>
        <li>What is he looking?</li>
        <li>What is he carring in his bag?</li>
        <li>The dog is a friend?</li>
        <li>Will he fall?</li>
      </ul>
    </div>
  </div>
</div>

{% endblock %}
<!-- <div class="container"> -->
<!--   <div class="row"> -->
<!--     <div class="col"><img src="" alt=""></div> -->
<!--     <div class="col"> -->
<!--       <h2></h2> -->
<!--       <ul> -->
<!--         <li></li> -->
<!--       </ul> -->
<!--     </div> -->
<!--   </div> -->
<!-- </div> -->
