{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="row mt-3">
      <div class="col">adsense</div>
    <div class="col"><img src="{{ url_for('static', filename="imgs/cards/rws/1.jpg") }}" alt="Magician"></div>
    <div class="col">
      <h2>The Magician</h2>
      <ul>
        <li>What is he doing?</li>
        <li>Why he is in this stance?</li>
        <li>What means the sword on the table?</li>
        <li>What means the staff  on the table?</li>
        <li>What means the chalice on the table?</li>
        <li>What means the coin on the table?</li>
        <li>What about the flowers in front of him?</li>
      </ul>
    </div>
  </div>
</div>

{% endblock %}
