{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col"><img src="{{ url_for('static', filename="cards/rws/10.jpg") }}" alt="Wheel"></div>
    <div class="col">
      <h2>The Wheel of Fortune</h2>
      <ul>
        <li>How many kinds of justices exists?</li>
        <li>What means the sword?</li>
        <li>What means the scale of dishes?</li>
        <li>What means the 2 columns?</li>
        <li>Why is she in a throne?</li>
        <li>Why is she crowned?</li>
      </ul>
    </div>
  </div>
</div>

{% endblock %}
