{% extends 'base.html' %}

{% block content %}

<main class="container mt-3">
    <div class='row mt-2'>
        <div class="col-2">ads</div>
        <div class="col-10">
          <h1>The Author</h1>
          <p>Hi!</p>
          <p>Thank you very much for using this website! I hope you are doing well and the Tarot have enlight your mind.</p>
          <p>I'm Almir Paulo. I really like tarot and other esoteric subjects. I believe Tarot can be used as a tool to help you in your self-knowledge journey. But it just my personal opinion, there is a lot of other point of views concerning what the Tarot really is: a magic oracle, a psychological tool (just like Rorschach Inkblots), beautiful artworks, symbols with deep meaning...</p>
          <p>I am also a programmer and I probably have other stuff you may like, <a href="https://almirpaulo.github.io/" target="_blank">check it out</a>.</p>
          <h1>Contribute</h1>
          <p>I'm sorry if this ads are bothering you. But, hey I need to make some money here, right? &#128540 So, could you please consider to turn off your adblocker while using this site? come on... you can do that for me! I have never ask you anything!</p>
          <p>If you are willing to spend some money to say "thank you", I would appreciate if you could contribute at my "Buy me a Coffee".</p>
          <h1>Contact</h1>
          <p>If you need to contact me you can reach me at ...<p>
        </div>
        </div>
</main>

{% endblock %}
