<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Read your tarot cards by yourself online for free.">
  <meta name="viewport" content= "width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='imgs/tarot.png')}}">
  <title>No name yet</title>
</head>
<body class="bg-warning">
  <header>
    <nav class="navbar bg-primary navbar-expand-sm navbar-light">
      <a class="navbar-brand text-light" id="brand" href="{{ url_for('home') }}"><img src="{{url_for('static', filename='imgs/tarot.png')}}" style="width:10%;height:auto;" alt="">Brand</a>
			<div class="collapse navbar-collapse">
			<ul class='navbar-nav ml-auto'>
        <li class='nav-item'><a class="nav-link text-light" href="{{ url_for('cards') }}">Cards</a>
          <li class='nav-item'><a class="nav-link text-light" href="{{ url_for('about') }}">About</a></li>
          <!-- <li class='nav-item'><a class="nav-link text-light fw-bolder" href="">More Readings</a></li> -->
          <li class='nav-item'><a class="nav-link text-light" href="{{ url_for('api_docs') }}">API</a></li>
		</ul>
		</div>
	</nav>
  </header>
  {% block content %} {% endblock %} 
  <footer class="mt-5">
    <center>
      <small>
        <p class="text-muted">Website by <a href="https://almirpaulo.github.io" target="_blank">Almir Paulo</a>
        	&diams; Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons" target='_blank'>Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon" target="_blank">www.flaticon.com</a></div>
         	&diams;Tarot card images from the <a href="https://en.wikipedia.org/wiki/Rider_(imprint)">Rider</a>-<a href="https://en.wikipedia.org/wiki/A._E._Waite">Waite</a>-<a href="https://en.wikipedia.org/wiki/Pamela_Colman_Smith">Smith</a> deck.</p>
      </small>
    </center>
  </footer>
</body>
</html>
