{% extends 'base.html' %}

{% block content %}
    <center>
    <h1 class="mt-3">Enlight your mind with the Tarot</h1>
    <div class="container">
    <p>Take a deep breath...</p>
    <p>Focus on your issue...</p>
    <p>Now click the button below:</p>
    <form action="{{ url_for('your_card') }}">
     <button class="btn btn-primary">Get your guidance</button>
    </form>
    </div>
    </center>
    <div class="row mt-3 mb-3">
        <div class="col">
            <center>
               <!-- ads -->
            </center>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <section class="container">
                <h2>What is the Tarot?</h2>
                <p>Basically, it's a deck of 78 cards composed by 22 cards named as Major Arcana and 56 named as Minor Arcana. I believe Tarot can be used as a tool to help you in your self-knowledge journey. But it just my personal opinion, there is a lot of other point of views concerning what the Tarot really is: a magick oracle, a psychological tool (just like Rorschach Inkblots), beautiful artworks, symbols with deep meaning...
                </p>
                <p>Here, for now, we are dealing only with the Major Arcana. But that's enough. The Major Arcana, arguably, carry the most deep and philosophical meanings. Certainly, what we need in our endeavor.</p>
            </section>
        </div>
                    <div class="col">
                        <section class="container">
                            <h2>How to read the tarot cards?</h2>
                            <p>Take a deep breath, relax and try to connect with whatever you consider sacred. Now focus on your issue: love, work, life, doesn't matter the subject. Then you click the blue button to get your advice.</p>
                            <p>Once you click the button "Get your guidance", you will be redirected to a random page with a card image and a few questions to help you read the card by yourself. Don't worry, you will answer the questions for yourself, by yourself and there are no wrong answers.</p>
                            <p>Feel free to use your background knowledge of Mythology, Religion, Astrology, Alchemy and Kabbalah if you have some. It will be very useful. But, even if you have no esoteric background, just look at the tarot card, answer the questions as your heart says and try to connect it with the issue you have in mind.</p>
                        </section>
                    </div>
    </div>

{% endblock %}
